<section class="main student">
  <div class="wrapper">

      <aside>
        gSchool

        <div class="filters">
          <h3>Filter students</h3>
          <ul class="btn-selector">
            <li class="label">Who wants to work in a</li>
            <li><a href="#">Full Stack</a></li>
            <li><a href="#">Front-End</a></li>
            <li><a href="#">Back-End</a></li>
            <li class="active"><a href="#">Any</a></li>
          </ul>
          <ul class="btn-selector">
            <li class="label">Who prefers to</li>
            <li><a href="#">Pair Program</a></li>
            <li><a href="#">Work Solo</a></li>
            <li class="active"><a href="#">Any</a></li>
          </ul>
          <ul class="btn-selector">
            <li class="label">Who prefers to work in a</li>
            <li><a href="#">Consultancy</a></li>
            <li><a href="#">Product Company</a></li>
            <li class="active"><a href="#">Any</a></li>
          </ul>
          <ul class="btn-selector btn-selector-multi">
            <li class="label">Locations they're interested in</li>
            <li><a href="#">Anywhere (In-person)</a></li>
            <li><a href="#">Anywhere (Remote)</a></li>
            <li><a href="#">Denver</a></li>
            <li><a href="#">Boulder</a></li>
            <li><a href="#">Other Colorado</a></li>
            <li><a href="#">SF</a></li>
            <li><a href="#">Southern CA</a></li>
            <li><a href="#">Seattle</a></li>
            <li><a href="#">Portland</a></li>
            <li><a href="#">Chicago</a></li>
            <li><a href="#">Madison</a></li>
            <li><a href="#">Austin</a></li>
            <li><a href="#">DC</a></li>
            <li><a href="#">New York</a></li>
            <li><a href="#">Boston</a></li>
            <li><a href="#">Atlanta</a></li>
            <li><a href="#">Florida</a></li>
            <li><a href="#">International</a></li>
          </ul>
        </div>

      </aside>

      <article>

        <ul class="thumb-nav">
          <% Student.all.each do |student| %>
            <li>
              <%= link_to image_tag(student.image_url), "##{student.slug}" %>
            </li>
          <% end %>
        </ul>

        <ul class="team">
          <% Student.all.each do |student| %>
          <li id="<%= student.slug %>">
            <h2><%= link_to student.name, student_path(student) %></h2>
            <div class="headshot">
              <%= link_to image_tag(student.image_url, alt: student.name), student_path(student) %>
            </div>
            <div class="info">
              <%= truncate(student.looking_for_description, length: 200, omission: "...") %>
            </div>
          </li>
          <% end %>
        </ul>

      </article>

  </div>
</section>