<section class="main student">
  <div class="wrapper">

      <aside>
        <%= image_tag student.image_url, class: "avatar", alt: student.name, width: 288, height: 288 %>
        <ul>
          <li><%= link_to "Email", "mailto:#{student.email_address}" %></li>
          <li><%= link_to "Github", student.github_url %></li>
          <li><%= link_to "Resume", student.resume, class: "btn" %></li>
        </ul>
      </aside>

      <article>

        <h1><%= student.name %></h1>
        <p><%= student.looking_for_description %></p>

        <div class="student-info">
          <dl>
            <dt>Best at</dt>
            <% student.best_at.each do |best_at| %>
              <dd><%= best_at %></dd>
            <% end %>
          </dl>
          <dl>
            <dt>Prefered roles</dt>
            <% student.looking_for.each do |looking_for| %>
              <dd><%= looking_for %></dd>
            <% end %>
          </dl>
          <dl>
            <dt>Prefered locations</dt>
            <% student.locations.each do |location| %>
              <dd><%= location %></dd>
            <% end %>
          </dl>
        </div>

        <h2>Portfolio</h2>
        <p><%= link_to "Github", student.github_url %></p>

        <% student.projects.each do |project| %>

          <div class="project">
            <img>
            <h3><%= project.title %></h3>
            <p><%= link_to project.url, project.url %></p>
            <p><%= project.description %></p>
            <dl>
              <dt>What to look for</dt>
              <% project.what_to_look_for.each do |look_for| %>
                <dd><%= look_for %></dd>
              <% end %>
            </dl>
          </div>

        <% end %>
      </article>

  </div>
</section>